# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs and temporary files
*.log
*.tmp
*.temp
*.out

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Profiling data
*.prof
